<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/static/global.css">
	<link rel="stylesheet" href="/static/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="navbar">
		<div class="navbar__container">
			<h1 id="navbar__logo">Index</h1>
			<div class="hamburger" id="hamburger-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</div>
		<div class="sidebar" id="sidebar">
			<button class="close-btn" id="close-menu">&times;</button>
			<ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if current_user.is_authenticated %} 
	              <li>
	                <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
		              <button type="submit" style="font-size:16; background:none; border:none; color:inherit; font:inherit; cursor:pointer;">
		                Logout
		              </button>
	                </form>
	              </li>
                {% else %} 
                <li><a href="{{ url_for('register') }}">Sign in / Sign up</a></li>	  
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('saved')}}">Saved</a></li>
                {% endif %}
                <li><a href="{{ url_for('about')}}">About</a></li>
            </ul>
	</nav>

	{% if current_user.is_authenticated %}

	<h1>Welcome, {{ current_user.username }}!</h1>
	<div class="index-container">
		<form action="{{ url_for('logout') }}" method="POST">
			<button type="submit">Logout</button>
		</form>
	</div>
	
	
	{% else %}

	    <p>You are not logged in.</p>

	{% endif %}

	<script src="{{ url_for('static', filename='global.js') }}"></script>
</body>
</html>
