<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login - SoMi</title>
	<link rel="stylesheet" href="/static/global.css">
	<link rel="stylesheet" href="/static/login.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="navbar">
		<div class="navbar__container">
			<h1 id="navbar__logo">Login</h1>
			<div class="hamburger" id="hamburger-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</div>
		<div class="sidebar" id="sidebar">
			<button class="close-btn" id="close-menu">&times;</button>
			<ul>
				{% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
				{% else %} 
				<li><a href="{{ url_for('login') }}">Home</a></li>
                {% endif %}
                {% if current_user.is_authenticated %} 
	              <li>
	                <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
		              <button type="submit" style="font-size:16; background:none; border:none; color:inherit; font:inherit; cursor:pointer;">
		                Logout
		              </button>
	                </form>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('saved')}}">Saved</a></li>
                {% endif %}
                <li><a href="{{ url_for('about')}}">About</a></li>
            </ul>
		</div>
	</nav>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="flash-messages">
				{% for message in messages %}
					<li class="alert">{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}



	<div class="login-container">
		<form method="POST" action="{{ url_for('login') }}">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required>
			<br>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
			<br>
			<button type="submit">Login</button>
			<button onclick="window.location.href='/register'">Go to Registration Page</button>
		</form>
	</div>
	
	<script src="/static/global.js"></script>
</body>
</html>
