<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Outfits</title>
    <link rel="stylesheet" href="/static/savedstyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <h1 id="navbar__logo">Saved Outfits</h1>
            <div class="hamburger" id="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <button class="close-btn" id="close-menu">&times;</button>
            <ul>
                <li><a href="">Home</a></li> <!--TO DO-->
                <li><a href="{{ url_for('Saved')}}">Saved</a></li>
                <li><a href="{{ url_for('About')}}">About</a></li>
                <li><a href="">Sign in / Sign up</a></li>
            </ul>
        </div>
    </nav>

    <div class="saved-outfits-container">
        <div class="outfit-numbers">
            <span class="number" data-index="1">1</span>
            <span class="number" data-index="2">2</span>
            <span class="number" data-index="3">3</span>
            <span class="number" data-index="4">4</span>
            <span class="number" data-index="5">5</span>
            <span class="number" data-index="6">6</span>
            <span class="number" data-index="7">7</span>
            <span class="number" data-index="8">8</span>
            <span class="number" data-index="9">9</span>
        </div>

        <div class="outfit-preview">
            <p>(Outfit preview goes here)</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='saved.js') }}"></script>
</body>
</html>